<html>
<head>
<title>Mutual Funds Screener</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="data/master-data.js"></script>
<!-- <script src="sorTable.js"></script> -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 3px;
}
</style>
<!-- <script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script> -->
<script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>



<div id="log-box"></div>

<div id="app">
<form>
  <!-- <select id="fund-codes" v-model="filters.fundCodes" _v-on:change="loadFundData" multiple>
    <option value="">Select Funds</option>
  </select> -->
  <select id="fund-codes" multiple>
    <!-- <option value="">Select Funds</option> -->
  </select>
  <select id="fund-category" v-model="filters.fundCategory" _v-on:change="loadFundData" multiple>
    <option value="">Select Fund Category</option>
  </select>
  <select id="fund-class" v-model="filters.fundClass">
    <option value="">Select Fund Class</option>
  </select><br />
<!-- 
  <label for="fund-growth">Growth Funds</label><input type="checkbox" name="fund-growth" id="fund-growth" v-model="filters.growthFund" />
  <label for="fund-direct">Direct Funds</label><input type="checkbox" name="fund-direct" id="fund-direct" v-model="filters.directFund" /><br />
-->
  <button v-on:click="loadFundData">Get Data</button>
</form>

<div id="container" style="height: 800px; width: 100%; min-width: 720px"></div>

<table class="sortable">
  <tr>
    <th>Fund</th>
    <th>Class</th>
    <th v-on:click="sort" v-for="i in 10" :data-years="i" data-type="avgRR" style="cursor: pointer;">{{ i }}Y RR</th>
    <th v-for="i in 10">{{ i }}Y % +ve</th>
  </tr>
  <tr v-for="fund in funds">
    <td>{{ fund.name }}</td>
    <td>{{ fund.fundClass }}</td>
    <td v-for="year in fund.stats.rollingReturns">{{ year.avg }}</td>
    <td v-for="year in fund.stats.rollingReturns">{{ year.percPos }}</td>
  </tr>
</table>
</div>

<script>
let app
let $logBox = document.getElementById('log-box')
function log(thing) {
  console.log(thing)
  $logBox.innerHTML = thing
}

async function sleep(ms) {
  return new Promise(function (resolve, reject) {
    setTimeout(function () {
      resolve()
    }, ms)
  })
}

function filterFunds(funds, { fundCodes, fundCategory, fundClass, growth, direct }) {
  let filteredFunds = funds

  if (fundCodes && fundCodes.length > 0) {
    filteredFunds = filteredFunds.filter(f => fundCodes.includes(f.code))
    return filteredFunds
  }

  if (fundCategory) {
    if (Array.isArray(fundCategory)) {
      filteredFunds = filteredFunds.filter(f => fundCategory.includes(f.category))
    } else {
      filteredFunds = filteredFunds.filter(f => f.category === fundCategory)
    }
  }
  if (fundClass) {
    filteredFunds = filteredFunds.filter(f => f.fundClass === fundClass)
  }

  if (growth) {
    filteredFunds = filteredFunds.filter(f => f.name.match(/growth/i))
  } else {
    filteredFunds = filteredFunds.filter(f => !f.name.match(/growth/i))
  }

  if (direct) {
    filteredFunds = filteredFunds.filter(f => f.name.match(/direct/i))
  } else {
    filteredFunds = filteredFunds.filter(f => !f.name.match(/direct/i))
  }

  // filteredFunds = filteredFunds
  //   .filter(f => f.name.match(/growth/i))
  //   .filter(f => !f.name.match(/direct/i))
  //   // .filter(f => f.fundClass.match(/(Equity|Other) Scheme/i))

  if (filteredFunds.length === funds.length) {
    return []
  }
  return filteredFunds
}


function fmtNum(num) {
  return +num.toFixed(2)
}

function calcCgr(start, end, years) {
  return ((Math.pow(end/start, 1/years) - 1) * 100)
}
function subtractYears(dateStr, years) {
  let newDt = new Date(dateStr)
  const months = years * 12
  newDt.setMonth(newDt.getMonth() - months)
  return newDt.toISOString().substr(0, 10)
}

function calcRollingReturns(navs, years, indexData) {
  let cagrs = []
  let bmBeat = []
  let bmDiff = []
  let overlapCount = 0
  let benchmarkBeatCount = 0
  let cagrsWithDate = []

  for (let endDtStr in navs) {
    // let startDt = moment(endDtStr).subtract(years, 'years')
    // let startDtStr = moment(startDt).format('yyyy-MM-DD')
    let startDtStr = subtractYears(endDtStr, years)

    if (navs[startDtStr]) {
      let startNav = navs[startDtStr]
      let endNav = navs[endDtStr]
      let cagr = calcCgr(startNav, endNav, years)
      cagrs.push(cagr)
      cagrsWithDate.push({
        startDate: startDtStr,
        endDate: endDtStr,
        cagr,
      })

      if (indexData && indexData[years]) {
        let benchmarkCagr = indexData[years][`${startDtStr}_${endDtStr}`]
        if (typeof benchmarkCagr !== 'undefined') {
          overlapCount++
          if (cagr > benchmarkCagr) {
            benchmarkBeatCount++
          }
          // bmBeat.push(cagr > benchmarkCagr)
          bmDiff.push(cagr - benchmarkCagr)
        }  
      }
    }
  }

  let min
  let max
  let avg
  let count = cagrs.length
  let percNeg
  let percPos
  // let benchmarkBeatPerc = fmtNum(bmBeat.filter(beat => beat).length / bmBeat.length * 100)
  // let avgOverBenchmark = fmtNum(bmDiff.reduce((acc, item) => (acc + item), 0) / bmDiff.length)
  let benchmarkBeatPerc
  let avgOverBenchmark

  if (overlapCount) {
    benchmarkBeatPerc = fmtNum(benchmarkBeatCount / overlapCount * 100)
  }
  if (bmDiff.length) {
    avgOverBenchmark = fmtNum(bmDiff.reduce((acc, item) => (acc + item), 0) / bmDiff.length)
  }

  if (cagrs.length > 0) {
    min = fmtNum(Math.min(...cagrs))
    max = fmtNum(Math.max(...cagrs))
    avg = fmtNum(cagrs.reduce((acc, item) => (acc + item), 0) / cagrs.length)
    percNeg = fmtNum(cagrs.filter(c => c < 0).length / count * 100)
    percPos = fmtNum(cagrs.filter(c => c > 0).length / count * 100)
  }
  return { years, cagrs, cagrsWithDate, min, max, avg, count, percNeg, percPos,
    benchmarkBeatPerc,
    avgOverBenchmark,
  }
}

function calculateStats(navs, benchmark) {
  let stats = {}

  // s01: No of rollling return entries Index (1 Years)
  // s02: No of rollling return entries Fund (1 years)
  // s03: No of times fund has outperformed index (1 years)
  // s04: (s03/s02) rolling return outperformance Consistency Score

  // s05: upside performance consistency (percent of times fund performed better than category benchmark when benchmark was moving up)
  // s06: downside protection consistency (percent of times fund performed better than category benchmark when benchmark was moving down)

  // upside-capture-ratio = Upside-CAGR-Fund/Upside-CAGR-Index
  // downside-capture-ratio = Downside-CAGR-Fund/Downside-CAGR-Index
  // capture ratio = (upside capture / downside capture) - higher the better
  // upside capture consistency = percent of times upside-capture-ratio was > 100%
  // downside capture consistency = percent of times downside-capture-ratio was < 100%

  // s07: no of times fund outperformed index by 25%
  // s08: no of times fund underperformed index by 25%
  // s09: % outperformance (by 25%)
  // s10: % underperformance (by 25%)

  // srinivesh screener
  // % of various periods where the fund’s CAGR was among the top N in the category
  // % of times when the fund's return was greater than the category median
  // % of times when the fund's return was greater than the category median

  // rolling returns for various periods
  // count, min, max, average, negative-%, positive-%
  // count of outperfromance over index, percent
  // rolling return outperformance consistency score
  // upside performance consistency
  // downside protection consistency
  let rollingReturns = []
  for (let i = 1; i <= 10; i++) {
    let rr = calcRollingReturns(navs, i, benchmark)
    rollingReturns.push(rr)
  }
  stats.rollingReturns = rollingReturns

  // trailing returns for various periods

  // stats.alpha = calcAlpha()
  // stats.beta = calcBeta()
  // stats.rSq = calcRSq()
  // stats.stdDev = calcStdDev()
  // stats.sharpe = calcSharpe()

  return stats
}

const FUNDS_CACHE = {}

async function getFundNav(fund) {
  log(`Getting NAV for ${fund.code} - ${fund.name}`)
  try {
    const nav = await fetch(`https://api.mfapi.in/mf/${fund.code}`).then(res => res.json())
    log(`Got NAV for ${fund.code} - ${fund.name}`)
    return nav
  } catch (error) {
    log(`Failed to get NAV for - ${fund.code} - ${fund.name}`)
    return []
  }
}
async function getFundStats(fund) {
  log(`Calculating stats for ${fund.code} - ${fund.name}`)

  let { code, name, fundClass, category, rawNav } = fund
  console.log(code, name, fundClass, category)

  const navMap = {}
  rawNav.data.forEach(dat => {
    const [d, m, y] = dat.date.split('-')
    navMap[`${y}-${m}-${d}`] = parseFloat(dat.nav)
  })

  let benchmarkData
  // let benchmarkName = utils.getBenchmark(fund)
  // let benchmarkData = benchmarkMap[benchmarkName]
  const stats = calculateStats(navMap, benchmarkData)
  return { navMap, stats }
}

async function computeFundsData(targetFunds) {
  const fundsWithStats = await Promise.all(targetFunds.map(async (fund) => {
    if (!FUNDS_CACHE[fund.code]) {
      fund.rawNav = await getFundNav(fund)
      const fundStats = await getFundStats(fund)
      FUNDS_CACHE[fund.code] = { ...fund, ...fundStats }
    }
    return FUNDS_CACHE[fund.code]
  }))

  console.log('fundsWithStats:', fundsWithStats)
  return fundsWithStats
}

function populateFundFilters($fundCodeSelect, $fundCatSelect, $fundClassSelect) {
  FUNDS_LIST.forEach(fund => {
    const option = document.createElement('option');
    option.value = fund.code;
    option.text = fund.name;
    $fundCodeSelect.appendChild(option);
  })
  $('#fund-codes').select2({
    // dropdownParent: $fundCodeSelect,
    placeholder: 'Select funds',
    // minimumInputLength: 3,
    allowClear: true,
    matcher(params, data) {
      if (!params.term) {
        return data;
      }

      const terms = params.term.toLowerCase().split(' ')
      if (terms.every(term => data.text.toLowerCase().includes(term))) {
        return data;
      }
      return null
    },
  });

  FUND_CATEGORIES.forEach(category => {
    let targetFunds = filterFunds(FUNDS_LIST, { fundCategory: category, growth: true, direct: false })
    const fundCount = targetFunds.length
    const option = document.createElement('option');
    option.value = category;
    option.text = category + ' ('+fundCount+')';
    $fundCatSelect.appendChild(option);
  })

  FUND_CLASSES.forEach(fundClass => {
    let targetFunds = filterFunds(FUNDS_LIST, { fundClass, growth: true, direct: false })
    const fundCount = targetFunds.length
    const option = document.createElement('option');
    option.value = fundClass;
    option.text = `${fundClass} (${fundCount})`;
    $fundClassSelect.appendChild(option);
  })
}

function drawChart(fundsList, years = 1) {
  let names = []
  let seriesOptions = []

  fundsList.forEach((f, i) => {
    const name = f.name
    names.push(name)
    let data = []
    f.stats.rollingReturns[years-1].cagrsWithDate.forEach((d, i) => {
      const dt = (new Date(d.startDate)).getTime()
      data.push([dt, +d.cagr])
    })

    data = data.reverse()
    const visible = (i < 5) ? true : false
    seriesOptions.push({ name, data, showInLegend: true, visible })
  })
  createChart({ seriesOptions, years })

  function createChart({ seriesOptions, years }) {
    Highcharts.chart('container', {
      chart: {
        zoomType: 'x',
        // marginRight: 120,
      },
      legend: {
        enabled: true,
        // align: 'right',
        // verticalAlign: 'top',
        // layout: 'vertical',
        // x: 0,
        // y: 100,
        // layout: 'vertical',
        // verticalAlign: '',
        // align: '',
      },
      title: {
        text: `Rolling Returns over ${years} years`,
      },
      subtitle: {
        text: document.ontouchstart === undefined
          ? 'Click and drag in the plot area to zoom in'
          : 'Pinch the chart to zoom in'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: 'Rolling Returns'
        }
      },
      plotOptions: {
        area: {
          _fillColor: {
            linearGradient: {
              x1: 0,
              y1: 0,
              x2: 0,
              y2: 1
            },
            stops: [
              [0, Highcharts.getOptions().colors[0]],
              [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
            ]
          },
          marker: {
            radius: 2
          },
          lineWidth: 1,
          states: {
            hover: {
              lineWidth: 1
            }
          },
          threshold: null
        }
      },

      series: seriesOptions,
      // series: [{ type: 'line', name: 'USD to EUR', data: data }]
    });
  }
}



window.onload = async function () {
  // const urlParams = new URLSearchParams(window.location.search);
  // const category = urlParams.get('category');
  console.log(FUNDS_LIST)
  console.log(FUND_HOUSES)
  console.log(FUND_CLASSES)
  console.log(FUND_CATEGORIES)
  console.log(FUND_CATEGORIES_RAW)

  app = new Vue({
    el: '#app',
    data: {
      filters: {
        fundCodes: [],
        fundCategory: [],
        // fundClass: 'Equity Scheme',
        fundClass: '',
        growthFund: true,
        directFund: false,
      },
      funds: {},
    },
    methods: {
      async loadFundData(e) {
        e.preventDefault();

        this.funds = {}

        const selectedFunds = $('#fund-codes').select2('data').map(o => o.id)
        this.filters.fundCodes = selectedFunds
        // for(let o in document.getElementById('fund-codes').options) {
        //   if (o.selected) {
        //     console.log(o.selected = true)
        //   }
        // }

        console.log('filters:', this.filters)
        const filteredFunds = filterFunds(FUNDS_LIST, this.filters)
        console.log('filteredFunds:', filteredFunds)

        // log(`Loading fund data for category='${fundCategory}' class='${fundClass}'`)

        this.funds = await computeFundsData(filteredFunds)
        // console.log(this.funds)
        drawChart(this.funds)
      },
      sort(e) {
        const column = e.target
        if (column.dataset.type === 'avgRR') {
          const yearInd = column.dataset.years - 1
          log(`sorting by avg RR of ${yearInd+1} years`)
          this.funds = this.funds.sort((a, b) => {
            const aVal = a.stats.rollingReturns[yearInd].avg || -Infinity
            const bVal = b.stats.rollingReturns[yearInd].avg || -Infinity
            if (aVal < bVal) return 1
            if (aVal > bVal) return -1
            return 0
          })
          drawChart(this.funds, column.dataset.years)
        }
      }
    },
  })

  const $fundCodeSelect = document.getElementById('fund-codes')
  const $fundCatSelect = document.getElementById('fund-category')
  const $fundClassSelect = document.getElementById('fund-class')
  populateFundFilters($fundCodeSelect, $fundCatSelect, $fundClassSelect)
}

async function test() {
  const fund = {
    code: '125494'
  }
  const rawNav = await fetch(`https://api.mfapi.in/mf/${fund.code}`).then(res => res.json())
  console.log(rawNav)

  let navArr = rawNav.data.map(dat => {
    let [d, m, y] = dat.date.split('-')
    return { date: `${y}-${m}-${d}`, nav: parseFloat(dat.nav) }
  })
  let navMap = {}
  for (let n of navArr) {
    navMap[n.date] = n.nav
  }
  fund.navMap = navMap

  let benchmarkData
  fund.stats = calculateStats(navMap, benchmarkData)
  console.log(fund.stats)

  console.log(subtractYears('2021-04-14', 5))
}
</script>

<script>

// 'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/msft-c.json',
// 'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/aapl-c.json',
// 'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/goog-c.json',

</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>
</html>
