<html>
<head>
<title></title>
<script src="data/funds-list.js"></script>
<script src="sorTable.js"></script>
<style>
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 3px;
}
</style>
</head>
<body>


<div id="log-box"></div>

<div id="app">
<select id="fund-category" v-on:change="loadCategoryFunds">
  <option>Select</option>
</select>
<table class="sortable">
  <tr>
    <th>Fund</th>
    <th>Class</th>
    <th v-on:click="sort" v-for="i in 10" :data-years="i" data-type="avgRR">{{ i }}Y RR</th>
    <th v-for="i in 10">{{ i }}Y % +ve</th>
  </tr>
  <tr v-for="fund in funds">
    <td>{{ fund.name }}</td>
    <td>{{ fund.fundClass }}</td>
    <td v-for="year in fund.stats.rollingReturns">{{ year.avg }}</td>
    <td v-for="year in fund.stats.rollingReturns">{{ year.percPos }}</td>
  </tr>
</table>
</div>

<script>
let app
let $logBox = document.getElementById('log-box')
function log(thing) {
  console.log(thing)
  $logBox.innerHTML = thing
}

async function sleep(ms) {
  return new Promise(function (resolve, reject) {
    setTimeout(function () {
      resolve()
    }, ms)
  })
}

function filterFunds(funds, category) {
  let filteredFunds = funds
    .filter(f => f.name.match(/growth/i))
    .filter(f => !f.name.match(/direct/i))
    // .filter(f => f.fundClass.match(/(Equity|Other) Scheme/i))

  if (category) {
    return filteredFunds.filter(f => f.category === category)
  }
  return filteredFunds
}


function fmtNum(num) {
  return +num.toFixed(2)
}

function calcCgr(start, end, years) {
  return ((Math.pow(end/start, 1/years) - 1) * 100)
}
function subtractYears(dateStr, years) {
  let newDt = new Date(dateStr)
  const months = years * 12
  newDt.setMonth(newDt.getMonth() - months)
  return newDt.toISOString().substr(0, 10)
}

function calcRollingReturns(navs, years, indexData) {
  let cagrs = []
  let bmBeat = []
  let bmDiff = []
  let overlapCount = 0
  let benchmarkBeatCount = 0

  for (let endDtStr in navs) {
    // let startDt = moment(endDtStr).subtract(years, 'years')
    // let startDtStr = moment(startDt).format('yyyy-MM-DD')
    let startDtStr = subtractYears(endDtStr, years)

    if (navs[startDtStr]) {
      let startNav = navs[startDtStr]
      let endNav = navs[endDtStr]
      let cagr = calcCgr(startNav, endNav, years)
      cagrs.push(cagr)

      if (indexData && indexData[years]) {
        let benchmarkCagr = indexData[years][`${startDtStr}_${endDtStr}`]
        if (typeof benchmarkCagr !== 'undefined') {
          overlapCount++
          if (cagr > benchmarkCagr) {
            benchmarkBeatCount++
          }
          // bmBeat.push(cagr > benchmarkCagr)
          bmDiff.push(cagr - benchmarkCagr)
        }  
      }
    }
  }

  let min
  let max
  let avg
  let count = cagrs.length
  let percNeg
  let percPos
  // let benchmarkBeatPerc = fmtNum(bmBeat.filter(beat => beat).length / bmBeat.length * 100)
  // let avgOverBenchmark = fmtNum(bmDiff.reduce((acc, item) => (acc + item), 0) / bmDiff.length)
  let benchmarkBeatPerc
  let avgOverBenchmark

  if (overlapCount) {
    benchmarkBeatPerc = fmtNum(benchmarkBeatCount / overlapCount * 100)
  }
  if (bmDiff.length) {
    avgOverBenchmark = fmtNum(bmDiff.reduce((acc, item) => (acc + item), 0) / bmDiff.length)
  }

  if (cagrs.length > 0) {
    min = fmtNum(Math.min(...cagrs))
    max = fmtNum(Math.max(...cagrs))
    avg = fmtNum(cagrs.reduce((acc, item) => (acc + item), 0) / cagrs.length)
    percNeg = fmtNum(cagrs.filter(c => c < 0).length / count * 100)
    percPos = fmtNum(cagrs.filter(c => c > 0).length / count * 100)
  }
  return { years, cagrs, min, max, avg, count, percNeg, percPos,
    benchmarkBeatPerc,
    avgOverBenchmark,
  }
}

function calculateStats(navs, benchmark) {
  let stats = {}

  // s01: No of rollling return entries Index (1 Years)
  // s02: No of rollling return entries Fund (1 years)
  // s03: No of times fund has outperformed index (1 years)
  // s04: (s03/s02) rolling return outperformance Consistency Score

  // s05: upside performance consistency (percent of times fund performed better than category benchmark when benchmark was moving up)
  // s06: downside protection consistency (percent of times fund performed better than category benchmark when benchmark was moving down)

  // upside-capture-ratio = Upside-CAGR-Fund/Upside-CAGR-Index
  // downside-capture-ratio = Downside-CAGR-Fund/Downside-CAGR-Index
  // capture ratio = (upside capture / downside capture) - higher the better
  // upside capture consistency = percent of times upside-capture-ratio was > 100%
  // downside capture consistency = percent of times downside-capture-ratio was < 100%

  // s07: no of times fund outperformed index by 25%
  // s08: no of times fund underperformed index by 25%
  // s09: % outperformance (by 25%)
  // s10: % underperformance (by 25%)

  // srinivesh screener
  // % of various periods where the fund’s CAGR was among the top N in the category
  // % of times when the fund's return was greater than the category median
  // % of times when the fund's return was greater than the category median

  // rolling returns for various periods
  // count, min, max, average, negative-%, positive-%
  // count of outperfromance over index, percent
  // rolling return outperformance consistency score
  // upside performance consistency
  // downside protection consistency
  let rollingReturns = []
  for (let i = 1; i <= 10; i++) {
    let rr = calcRollingReturns(navs, i, benchmark)
    rollingReturns.push(rr)
  }
  stats.rollingReturns = rollingReturns

  // trailing returns for various periods

  // stats.alpha = calcAlpha()
  // stats.beta = calcBeta()
  // stats.rSq = calcRSq()
  // stats.stdDev = calcStdDev()
  // stats.sharpe = calcSharpe()

  return stats
}

const FUNDS_CACHE = {}

async function loadCategory(category) {
  log(`Loading fund data for '${category}'...`)

  if (!FUNDS_CACHE[category]) {
    FUNDS_CACHE[category] = []

    let targetFunds = filterFunds(FUNDS_LIST, category)
    console.log('Getting NAV for following funds:', targetFunds)

    const fundsWithNav = await Promise.all(targetFunds.map(async (fund) => {
      log(`Getting NAV for ${fund.code} - ${fund.name}`)
      try {
        const nav = await fetch(`https://api.mfapi.in/mf/${fund.code}`).then(res => res.json())
        log(`Got NAV for ${fund.code} - ${fund.name}`)
        return { ...fund, rawNav: nav }
      } catch (error) {
        log(`Failed to get NAV for - ${fund.code} - ${fund.name}`)
        return { ...fund }
      }
    }))
    console.log(fundsWithNav)

    for (let fund of fundsWithNav) {
      log(`Calculating stats for ${fund.code} - ${fund.name}`)

      let { code, name, fundClass, category, rawNav } = fund
      console.log(code, name, fundClass, category)

      const navMap = {}
      rawNav.data.forEach(dat => {
        const [d, m, y] = dat.date.split('-')
        navMap[`${y}-${m}-${d}`] = parseFloat(dat.nav)
      })
      fund.navMap = navMap

      let benchmarkData
      // let benchmarkName = utils.getBenchmark(fund)
      // let benchmarkData = benchmarkMap[benchmarkName]
      fund.stats = calculateStats(navMap, benchmarkData)

      FUNDS_CACHE[category].push({ ...fund })
    }
  }

  const fundsList = FUNDS_CACHE[category]
  console.log(fundsList)

  log(`Computed fund stats for '${category}'`)
  return fundsList
}

function populateFundCatList($fundCatSelect) {
  FUND_CATEGORIES.forEach(category => {
    let targetFunds = filterFunds(FUNDS_LIST, category)
    const fundCount = targetFunds.length
    const option = document.createElement('option');
    option.value = category;
    option.text = category + ' ('+fundCount+')';
    $fundCatSelect.appendChild(option);
  })
}

window.onload = async function () {
  // const urlParams = new URLSearchParams(window.location.search);
  // const category = urlParams.get('category');
  console.log(FUNDS_LIST)
  console.log(FUND_HOUSES)
  console.log(FUND_CLASSES)
  console.log(FUND_CATEGORIES)
  console.log(FUND_CATEGORIES_RAW)

  app = new Vue({
    el: '#app',
    data: {
      funds: {},
    },
    methods: {
      async loadCategoryFunds(e) {
        this.funds = {}
        const selectedCat = e.target.value
        const fundsList = await loadCategory(selectedCat)
        this.funds = fundsList
      },
      sort(e) {
        const column = e.target
        if (column.dataset.type === 'avgRR') {
          const yearInd = column.dataset.years - 1
          log(`sorting by avg RR of ${yearInd+1} years`)
          this.funds = this.funds.sort((a, b) => {
            const aVal = a.stats.rollingReturns[yearInd].avg || -Infinity
            const bVal = b.stats.rollingReturns[yearInd].avg || -Infinity
            if (aVal < bVal) return 1
            if (aVal > bVal) return -1
            return 0
          })
        }
      }
    },
  })

  const $fundCatSelect = document.getElementById('fund-category')
  populateFundCatList($fundCatSelect)

  // await test()
}

async function test() {
  const fund = {
    code: '125494'
  }
  const rawNav = await fetch(`https://api.mfapi.in/mf/${fund.code}`).then(res => res.json())
  console.log(rawNav)

  let navArr = rawNav.data.map(dat => {
    let [d, m, y] = dat.date.split('-')
    return { date: `${y}-${m}-${d}`, nav: parseFloat(dat.nav) }
  })
  let navMap = {}
  for (let n of navArr) {
    navMap[n.date] = n.nav
  }
  fund.navMap = navMap

  let benchmarkData
  fund.stats = calculateStats(navMap, benchmarkData)
  console.log(fund.stats)

  console.log(subtractYears('2021-04-14', 5))
}
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>
</html>
